<h1 style="color:rgb(116, 210, 223)" class="mb-3 pl-3">ngContent</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <app-item-content>
                <span class="tenPhim">Minions</span>
                <span class="giaTien">8000000</span>
            </app-item-content>
        </div>
        <div class="col-sm-3">
            <app-item-content>
                <span class="tenPhim">Home</span>
                <span class="giaTien">8500000</span>
            </app-item-content>
        </div>
        <div class="col-sm-3">
            <app-item-content>
                    <span class="tenPhim">Harvie</span>
                    <span class="giaTien">900000</span>
            </app-item-content>
        </div>
        <div class="col-sm-3">
            <app-item-content>
                    <span class="tenPhim">Insideout</span>
                    <span class="giaTien">7300000</span>
            </app-item-content>
        </div>
    </div>

</div>